.one {
  background-color: rgb(255, 189, 189);
  color: rgb(223, 0, 0);
}
.two {
  background-color: rgb(214, 218, 253);
  color: rgb(14, 0, 207);
}
.three {
  background-color: rgb(212, 253, 206);
  color: rgb(34, 170, 0);
}
.four {
  background-color: rgb(233, 233, 233);
  color: rgb(88, 88, 88);
}

body {
  padding: 0%;
  margin: 0%;
}

.flex-container {
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  display: flex;
}
.each {
  width: 20%;
  margin: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 10px;
}
